<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Booking form</h1>
    <form action="#" th:action="@{/bookCylinder}" th:object="${bookCylinder}" method="post">
    	
        <p>User Account Number: <input type="text" th:field="*{userAccountNumber}" /></p>
        <p>Location: <input type="text" th:field="*{location}" /></p>
        <p>email: <input type="text" th:field="*{email}" /></p>
        <p><input type="submit" value="Book" /> 
        <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>